@charset "utf-8";

nav{
    margin: 0px; 
    padding: 0px 0px 0px 15px; 
    background-color: #5C0000;
}
ul.ddmenu li{
    width: 125px; 
    display: inline-block; 
    list-style-type: none;
    position: relative; 
    background-color: #5C0000;
}

ul.ddmenu a {
    background-color: #5C0000; 
    color: white; 
    line-height: 60px; 
    text-align: center; 
    text-decoration: none; 
    font-weight: bold; 
    display: block; 
}

ul.ddmenu ul {
 display: none; 
 margin: 0px; 
 padding: 0px;
 position: absolute; 
}

ul.ddmenu a:hover {
 background-color: #900000; 
 color: #5c0000; 
}
ul.ddmenu li:hover ul {
 display: block; 
}
store_introduction{
}
fooddrink_article{
   display: flex;	
}
section.kodawari{
    background-color: #FFC978;
}

section.section_top{
    background-color: #ffc978;
}

.flex-container {
    display: flex;
    align-items: flex-start; 
    gap: 10px;
}

.fooddrink_section{
    background-color: #ffc978;
    float: left;
    width: 300px;
    height: 300px;
    text-align: center;	
	padding: 15px; 
}
.menu_section a{
	color: black; 
	text-decoration: none; 
	background-color: #ffc978; 
}
body{
    background-color: #e8e9a9;
    color: black;
    font-family: "游明朝";
	padding-bottom: 60px;
}
.logo-icon{
	height: 60px; 
	width: auto;
}.fooddrink_article .fooddrink_section img {
    object-fit: cover;
    max-width: 200px;
    max-height: 200px;
}


.kodawari .flex-container img {
    object-fit: cover;
    max-width: 200px;
    max-height: 200px;
}
.top img {
	margin: 5px 200px; 
}
footer{
position: fixed;
bottom: 0;
left: 0;
width: 100%;
height: 60px;        
background: #333;
color: white;
text-align: center;
line-height: 60px;
}
