@charset "utf-8";
@import url("07________/stylesheet.css");

body h1 {
    color: #FF7272;
    background-color: #FFB0B0;
    font-family: "07にくまるフォント";
}
body p {
    font-family: "BIZ UDPゴシック";
}
body p img {
    width: 200px;
    height: 200px;
}
.songwriter {
    color: #000000;
    font-size: large;
    font-family: "07にくまるフォント";
}


body {
    background-color: #FBC7C8;
}
.back {
    border: 8px inset #F29B9D;
}
